body {
  background-color: rgba(76, 76, 76, 0.519);
  color: rgb(226, 226, 226);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-blend-mode: overlay;
  margin: 0 auto;
  width: auto;
  padding: 20px 10px;
}

.poster {
  padding: 80px;
}

.main {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  min-width: 300px;
  max-width: 650px;
}

.header {
  margin: 0 3% 0 0;
}

.header p {
  font-size: x-large;
  font-weight: 700;
  color: white;
}
.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.title {
  font-size: 55px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.rating {
  font-style: italic;
}

.overview,
.homepage,
.runtime {
  margin: 0;
  font-size: 18px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgb(200, 200, 200);
}
