.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-gap: 30px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
}

header,
footer {
  background-color: #032541;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  padding: 2%;
}
footer {
  padding: 2% 20%;
  font-size: 18px;
}

header img,
footer img {
  width: 45%;
  padding-left: 30%;
}
